* {
  font-size: 14px;
}

.expense-form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  margin: 30px auto;
  width: 600px;
}

.expense-form span {
  margin-left: 80px;
  float: left;
  width: 200px;
}

/* .expense-form input {
  padding-right: 60px;
} */

.Repurchase label {
  margin-right: 20px;
}

.submit-btn {
  padding: 10px;
}
