* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.expense-form {
  border: 2px solid black;
  text-align: space-between;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  margin: 30px auto;
  width: 500px;
}

.expense-form span {
  margin-left: 80px;
  float: left;
  width: 200px;
}

.Repurchase label {
  margin-right: 20px;
}
